body {
  padding:0;
  margin:0px 10px 20px 15px;
  font-size: 12px;
  font-family: Verdana, Tahoma, Arial, sans-serif;
}
h1 {
  font-size: 16px;
  border-bottom: 1px solid #000;
  padding: 0 0 4px 0;
  font-variant: small-caps;
  margin: 0 0 0 7px;
  width: 70%;
}

h2 {font-size: 12px; margin-left: 20px; margin-top: 20px; margin-bottom: 5px; font-variant: small-caps;}

p {margin-left:40px; }