body{padding:0px;margin:0px;font-size:12px;font-family: 'Segoe UI';}
/* Ribbon */

#cdnavheader{float:left; width:902px;color:#11449E;font-family:Arial,Helvetica,sans-serif; font-size:12px;line-height:1.2em;font-weight:bold; padding:0px 34px 0px 34px;}
#cdnavheader ul{margin:0;padding:0;zoom:100%;list-style:none;}
#cdnavheader li{float:left; margin:0;padding:0;}
#cdnavheader a{float:left;background-image:url(left_both.gif); background-repeat:no-repeat;background-position:left top; margin:0;padding:0 0 0 8px; text-decoration:none;}
#cdnavheader a span{display:block;background-image:url(right_both.gif); background-repeat:no-repeat;background-position:right top; padding:6px 12px 4px 4px; font-weight:bold; color:#11449E;}
#cdnavheader #current a{background-repeat:no-repeat;background-image:url(left_both_on.gif); background-position:0 -150px; border-width:0;border-bottom:1px solid #dfebfc;}
#cdnavheader #current a span{background-repeat:no-repeat;background-image:url(right_both_on.gif); background-position:100% -150px; padding:5px 12px 6px 4px; color:#11449E;}
#cdnavheader a span{float:none;}
#cdnavheader a:hover{background-position:0 -150px;}
#cdnavheader a:hover span{background-position:100% -150px;}
#cdnavcont{background-image:url(bg_navcon.gif);background-repeat:repeat-x;background-position:bottom;background-color:#CBE0FD;zoom:100%;}
#cdribbon{height:0px;padding:4px 10px 0 10px;background-image:url(bg_ribbon.jpg);background-position:top;background-repeat:repeat-x;}

.button{padding:3px 4px 3px 4px;color:#15428b;font-size:11px;font-weight: 700;}
.button a:link{color:#15428b;font-size:11px;font-weight: 700;}
.button a:visited{color:#15428b;font-size:11px;font-weight: 700;}
.button a:hover{color:#15428b;font-size:11px;font-weight: 700;}

.button_over{padding:3px 4px 3px 4px;color:#15428b;font-size:11px;background:url(btover.png);cursor:Pointer;font-weight: 700;}
.button_over a:link{color:#15428b;font-size:11px;cursor:Pointer;font-weight: 700;}
.button_over a:visited{color:#15428b;font-size:11px;cursor:Pointer;font-weight: 700;}
.button_over a:hover{color:#15428b;font-size:11px;cursor:Pointer;font-weight: 700;}

.kategori_foot{font-size:11px;color:#576aaa;height:11px;font-weight: 700;}

.cdribtopl{background-image:url(rib_l_t.gif); font-size:2px;line-height:2px;}
.cdribtopc{border-top:1px solid #ffc499;background-color:#e1eaf6;}
.cdribtopr{background-image:url(rib_r_t.gif);}
.cdribmidl{border-right:none; border-left:1px solid #ffc499; background-color:#ffc0b9;}
.cdribmidc{background-image:url(rib_c_c.gif);border-bottom:1px solid #E0EDFD;}
.cdribmidr{border-left:none; border-right:1px solid #ffc499; background-color:#ffc0b9;}
.cdribbotl{background-image:url(rib_l_b.gif); font-size:6px;background-repeat:no-repeat;}
.cdribbotc{background-image:url(rib_c_b.gif);background-repeat:repeat-x;}
.cdribbotr{background-image:url(rib_r_b.gif); background-repeat:no-repeat;}
.cdchutopl{background-image:url(chu_l_t.gif); font-size:2px;line-height:2px;}
.cdchutopc{border-top:1px solid #ffc79d;background-color:#fff;}
.cdchutopc div,.cdchubotc div,.cdribtopc div{height:1px;line-height:1px;font-size:1px;overflow:hidden;}
.cdchutopr{background-image:url(chu_r_t.gif);}
.cdchumidl{border-right:none; border-left:1px solid #9dbcda; background-color:#fff;}
.cdchumidl div,.cdchumidr div,.cdribmidl div,.cdribmidr div{width:1px;overflow:hidden;}
.cdchumidc,.cdchumidcover{background-image:url(chu_c_c.gif);background-position:bottom;background-repeat:repeat-x;background-color:#fff4e4;}
.cdchumidcover{background-image:url(chu_c_c_on.gif);background-color:#fff7ed;}
.cdchumidr{border-left:none; border-right:1px solid #9fbedb; background-color:#fff;}
.cdchubotl{background-image:url(chu_l_b.gif); font-size:2px;line-height:2px;background-position:bottom left;}
.cdchubotc{border-bottom:1px solid #71a4ce;background-color:#fff;}
.cdchubotr{background-image:url(chu_r_b.gif); background-position:bottom right;}
.cdLNavCornerLeft,.cdLNavCornerRight{background-repeat:no-repeat;font-size:1px;height:6px;}
.cdLNavBorderTop{border-top:1px solid #ffc499;}
.cdLNavBorderRight{border-right:1px solid #ffc499;}
.cdLNavBorderLeft{border-left:1px solid #ffc499;}
.cdLNavSpaceLeft{border-left:1px solid #ffc499;}
.cdLNavSpaceRight{border-right:1px solid #ffc499;}
.cdBreadBgColor{background-color:#CDE0FD;}
.cdLeftNavBgColor{background-color:#EDF4FC;}
.cdLeftNavMinHeight{height:400px;}
.cntHHBody {font-family:Tahoma, Arial, Verdana, Helvetica}
p.cntHHBody {font-size:1.1em}
 .cntBorderWR {margin-bottom:18px; border:solid 1px #cccccc}
.cntHspace {height:15px; border-style:none; border-width:0px}
.cntVspace {width:15px; border-style:none; border-width:0px}
.cntHeavy {font-weight:bold}
.cntBorder1 {border:solid 1px #cccccc}
.cnt11font {font-size:1.1em}
.cntSqbulletedlist {list-style-image:url(/_services/ont/images/bulletl.gif); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.1em}
.cntRedBullet {list-style-image:url(/global/images/default.aspx?AssetID=ZA102513591033); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.2em}
.cntBlueBullet {list-style-image:url(/global/images/default.aspx?AssetID=ZA102579891033); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.2em}
.cntBlue2Bullet {list-style-image:url(/global/images/default.aspx?AssetID=ZA102579901033); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.2em}
.cntGreyBullet {list-style-image:url(/global/images/default.aspx?AssetID=ZA102579921033); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.2em}
.cntRedLink {color:#990000; margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; }
.cntBlueLink {color:#0b3788; margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; }
.cntBlue2Link {color:#25bbe0; margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; }
.cntGreyLink {color:#999999; margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; }
.cntStdUL{list-style-image:url(/_Services/Ont/images/bulletlRtL.gif); margin:0px; padding:0px 12px; font-size:1.1em; line-height:1.1em}
.cntribboncolor {color:#4372b0; font-size:11px;}
.cntribboncolor .cntUL0 {margin:0px; padding:0px; font-size:1.0em; list-style-image:none; line-height:9.685pt}
.cntribboncolor .cntUL0 li {padding-bottom:3px}
.cntribboncolor .cntStdUL {font-size:1em;line-height:9.685pt}
.cntbullmidc .cntStdUL {font-size:1.1em}
.cntbullmidc .cntStdUL li {list-style-image:url(/_Services/Ont/images/bulletlRtL.gif);padding-bottom:3px}
.cntRibbonborder {border: 1px solid #dbe6f4}
.cntRibbonlist {list-style-image:url(/_services/ont/images/bulletl.gif); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-family:Tahoma; font-size:1.0em}
.cntSqbulletedlist2 {padding-bottom:3px}
.cntULsqbulletedlist {margin-left:0px; margin-top:0px; margin-bottom:0px; padding:0px}
.cntULsqbulletedlistTab {margin-left:0px; margin-top:25px; margin-bottom:0px; padding:0px}
.cnt0m0p {margin:0px; padding:0px}
.cnt0margin {margin:0px}
.cnt10margin {margin:10px}
.cnt12margin {margin:12px}
.cnt10mr {margin-right:10px}
.cnt10mrw {padding-left:10px; margin-right:10px}
.cnt10ml {margin-left:10px}
.cnt0mb {margin-bottom:0px}
.cnt0padding {padding:0px}
.cnt12padding {padding:12px; margin:0px}
.cnt10padding {padding:10px}
.cnt6padding {padding:6px; margin:0px}
.cnt10pb {padding-bottom:10px}
.cnt6pb {padding-bottom:6px}
.cnt10pt {padding-top:10px}
.cntPR5px {padding-right:5px}
.cntClearboth {clear:both}
.cntFloatL {float:left}
.cntFloatR {float:right}
.cntpb6px {padding-bottom:6px}
.cntLineheight14 {line-height:1.4em}
.cntPipelink {line-height:1.8em; font-size:1.1em; color:#999999}
.cntPipelink2 {line-height:1.6em; font-size:1.2em; color:#cccccc}
.cntPipeLinks {font-size:1.1em; color:#999999}
.cntPipeLinks2 {font-family:Tahoma; font-size:.9em; color:#666666}
.cntPipeLinks2 a:link {color:#666666}
.cntOrangelink {text-decoration:none; color:#f18822}
a:link.cntOrangelink, a:visited.cntOrangelink {color:#f18822; text-decoration:none}
a:hover.cntOrangelink {text-decoration:underline}
.cntModlist {font-weight:bold; color:#666666; padding-bottom:6px}
div.cntModlist {font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:6px}
.cntUL0 {margin:0px; padding:0px}
.cntHeadEmphasis {padding:0px 4px; color:#999999}
.cntChevronList {font-family:Tahoma; font-size:.9em; color:#666666; list-style-type:none; list-style-image:none; margin-left:-3px}
.cntChevronList a:link {color:#666666}
.cntListPadding {padding-bottom:6px}
.cntZone100table {border:solid 1px #cccccc; margin:0px; padding:0px}
.cntZone100 {width:473px; border:solid 1px #cccccc; margin:0px; padding:0px}
.cntTabpage {padding:0px; border:solid 1px #cccccc; margin:0px; margin-bottom:12px}
.cntAudienceTile {width:431px; height:154px; background-color:#f1f7f3; padding-left:12px}
.cntAudienceTileHeadline {color:#f18822; font-size:1.2em; font-weight:bold; padding:6px 0px }
.cntBannerlist1 {height:28px; background-color:#f2a31b; border:none}
.cntBannerlisthead1 {font-size:1.6em; color:#ffffff; font-weight:bold; margin:0px; padding:3px 12px}
.cntBannerlist2 {background-color:#e5c57e; height:20px; margin-top:1px; border:none}
.cntBannerlisthead2 {font-size:1.2em; color:#ffffff; font-weight:bold; margin:0px; padding:3px 12px}
.cntBannerlistblurb {font-size:1.1em; line-height:1.4em; color:#666666}
/* these styles may now be out of date */
.cntClienthead {font-size:1.1em; font-family:Tahoma; font-weight:bold; color:#666666; margin-bottom:6px}
.cntClienthead2 {margin-bottom:6px}
.cntClientheadlink {font-size:1.5em; font-family:Tahoma; font-weight:bold; color:#f18822}
a:link.cntClientheadlink {text-decoration:none}
a:hover.cntClientheadlink {text-decoration:underline}
.cntClientmorelinks {font-family:Tahoma; font-size:1.1em; color:#0560a6}
a:link.cntClientmorelinks {text-decoration:none}
a:hover.cntClientmorelinks {text-decoration:underline}
.cntClientblurb {font-size:1.1em; color:#666666; line-height:1.4em}
.cntClientline {border:solid 1px #cccccc; border-left:none; border-right:none; border-bottom:none; margin-top:2px}
.cntClientmorehead {font-size:1.2em; font-family:Tahoma; font-weight:bold; color:#666666; padding:12px 0px 6px 0px}
/* client links for ECM */
.cntClientbob {font-family: Franklin Gothic, Arial; padding:12px}
.cntClientbob a:link, .cntClientbob a:hover {color:#0a246a}
.cntClientbob .cntClienttemplates {width:496px; margin:0px; padding:15px}
.cntClientbob .cntClienttmptls {width:100px; float:left; padding:7px; padding-bottom:20px}
.cntClientbob .cntClienttmptls2 {width:100px; text-align:center; font-size:1.1em}
.cntClientbob .cntClient {width:480px; margin:0px 15px; padding:6px 6px 12px 6px; border:solid 2px #dddddd}
.cntClientbob .cntClienthead {font-weight:bold; color:#666666; margin-bottom:6px}
.cntClientbob .cntClienthead2 {margin-bottom:6px}
.cntClientbob .cntClientheadlink {font-size:1.1em; font-weight:bold; color:#0a246a; padding:8px 0px}
.cntClientbob .cntClientmorelinks {font-size:1.1em;}
.cntClientbob a:link.cntClientmorelinks {text-decoration:none}
.cntClientbob a:hover.cntClientmorelinks {text-decoration:underline}
.cntClientbob .cntClientblurbmedia {float:left; margin-right:6px}
.cntClientbob .cntClientblurbtext {float:right}
.cntClientbob .cntClientblurb {font-size:1.1em; color:#333333; line-height:1.4em}
.cntClientbob .cntClientline {border:solid 1px #cccccc; border-left:none; border-right:none; border-bottom:none; margin-top:2px}
.cntClientbob .cntClientmorehead {font-size:1.2em; font-weight:bold; color:#666666; padding:12px 0px 6px 0px}

.cntClips {background-color:#3c83d3; color:#ffffff}
.cntCliptitle {font-family:Tahoma; font-weight:bold; font-size:1.4em}
.cntClipbar {border:solid 1px #cccccc; border-bottom:none; padding:3px 10px}
.cntClipoptlink {padding-top:6px; text-align:right; text-align:right; margin-right:10px}
.cntClipoptlink a {color:#ffffff !important}
.cntCliplink {font-size:1.0em}
.cntClipgrid {margin:0px; border:solid 1px #cccccc; border-top:none}
.cntDatapanelbg {background-color:#f9f9f9}
.cntDataPanelHead {font-family:Tahoma; font-size:1.6em; font-weight:bold; color:#333333; padding-bottom:6px}
.cntDataPanelHeadhv2 {font-family:Tahoma; font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:8px}
.cntDataPanelListhv2 {margin-left:5px}
.cntDownloadlink {color:#666666; text-decoration:none}
a:hover.cntDownloadlink {text-decoration:underline}
.cntDownloadlinkgrn {color:#6ca108; text-decoration:none}
a:hover.cntDownloadlinkgrn {text-decoration:underline}
.cntDownloadtimes {font-family:Tahoma; font-size:1.1em; color:#666666; padding:0px 12px; margin-top:-5px}
.cntFeatureddownloadsdiv1 {width:473px; border:solid 1px #cccccc; margin-bottom:6px; padding:0px}
.cntFeatureddownloadsHdspace {margin:0px; margin-top:5px; padding:0px}
.cntFeatureddownloadsHead {font-family:Tahoma; font-size:1.4em; color:#ffffff; background-color:#5c995d; font-weight:bold; padding: 4px 10px; margin:0px}
.cntFeatureddownloadstd1 {font-family:Tahoma; font-size:1.1em; color:#6ca108; font-weight:bold; padding-left:12px}
.cntFeatureddownloadstd2 {font-family:Tahoma; font-size:1.1em; color:#6ca108; font-weight:bold}
.cntFeatureddownloadstd2 a:link {text-decoration:none}
.cntFeatureddownloadstd2 a:hover {text-decoration:underline}
.cntFeatureddownloadstd3 {font-family:Tahoma; font-size:1.1em; color:#666666; padding-left:12px; white-space:nowrap}
.cntFeatureddownloadstd4 {font-family:Tahoma; font-size:1.1em; color:#666666}
.cntFeatureddownloadstr {background-color:#f2f2f2}
.cntFeaturedTmpltshead {font-family:Tahoma; font-size:1.3em; color:#ffffff; font-weight:bold; padding:6px 8px; background-color:#598975; border:solid 1px #cccccc; border-bottom:none}
.cntFeaturedTmpltsmid {padding-top:10px; border:solid 1px #cccccc; border-bottom:none; border-top:none}
.cntFeaturedTmpltsbtm {width:153px; padding:8px 10px; border:solid 1px #cccccc; border-top:none}
.cntFeaturedTmpltimg {border:solid 1px #cccccc}
.cntFeaturedcourseoptlink {width:475px; text-align:right; font-size:.9em; color:#666666; padding-top:10px}
a:link.cntFeaturedcourseoptlink {text-decoration:none; color:#666666}
.cntFactpane {margin-bottom:17px}
.cntFactpaneHead {font-size:1.6em; font-weight:bold; margin-top:0px; padding-top:0px; padding-bottom:6px; color:#333333}
.cntFactpaneSubhead {font-size:1.1em; font-weight:bold; margin:0px; padding:0px}
.cntFactPaneBlurb {font-size:1.1em; line-height:1.3em; color:#666666; padding-top:3px; margin:0px}
.cntFocusPlateHeading {font-size:1.6em; color:#ffffff; font-weight:bold; padding:6px 12px 3px 12px; background-color:#ed9200; margin:0px; border:solid 1px #cccccc; border-bottom:none}
.cntFocusplatetbl {padding:0px; margin:0px; border:solid 1px #cccccc; border-top:none}
.cntFocusplatetbl1 {background-color:#f2ad40; margin:0px; padding:0px; margin-top:1px; border:solid 1px #cccccc; border-top:none; border-bottom:none}
.cntFocusplatec1 {padding:12px 0px 16px 12px; margin:0px}
.cntFocusplatec3 {padding:12px; padding-bottom:16px; margin:0px}
.cntFocusplatec4 {padding:12px 0px; margin:0px}
.cntFocusplatec2 {height:20px; width:19px; padding:0px; margin:0px}
.cntFocusPlateSubhead1 {font-size:1.1em; color:#ffffff; font-weight:bold; padding:1px 12px 3px 12px; background-color:#f2ad40; margin:0px}
.cntForum1 {border:solid 1px #cccccc; background-color:#ffff00}
.cntForum2 {border-style:solid; border-width:0px 1px; background-color:#ccffff}
.cntForumLast {border:solid 1px #cccccc; background-color:#ffccff}
.cntHighlightpane {margin:15px 0px 0px 0px}
.cntHomeBottomZone {background-color:#F1F7FE}
.cntHomepagesmboxhead {margin-bottom:6px; font-weight:bold; font-size:1.1em; color:#2b59a7 !important; font-family:Tahoma}
.cntHomepagesmdiv {margin:0px 0px 0px 50px}
.cntHomepagesmboxul {margin:0px; padding:0px; float:left}
.cntHomepagesmboxli {margin:0px; padding:0px; margin-left:14px; font-family:Tahoma; font-size:1.1em; line-height:1.2em; padding-bottom:2px}
.cntImageitemmedia {margin-right:12px; margin-bottom:2px}
#ImagePane .cnt10pt {padding:10px 10px 0px 0px}
.cntImagepane {margin:0px; padding:0px}
.cntImagePaneHeadhv2 {margin:3px 0px; padding:0px 12px; font-size:1.8em; font-family:Arial; color:#11449e}
.cntImagePaneHeadline {line-height:1.1em; margin:0px; padding-bottom:4px; font-size:1.4em; font-weight:bold; color:#f18822}
.cntImagePanecell1 {padding:12px}
.cntImagePanecell2 {padding:9px 12px 0px 0px}
.cntImagePaneHeadline {color:#f18822}
.cntImagePaneHeadline a:link {text-decoration:none; color:#2b59a7}
.cntImagePaneHeadline a:hover {text-decoration:underline; color:#2b59a7}
.cntImagePaneBlurb {font-size:1.1em; line-height:1.2em; color:#666666; padding:0px; margin:0px; margin-bottom:8px}
.cntImagePaneSubhead {font-size:1.2em; color:#666666; font-weight:bold}
.cntImagepaneSubdiv {margin-top:-3px; margin-bottom:7px}
.cntImagepaneSubv2 {font-size:1.4em; font-family:Tahoma; padding-bottom:9px; color:#2b59a7; font-weight:bold}
a.cntImagepaneSubv2 {color:#2b59a7}
a:link.cntImagepaneSubv2 {color:#2b59a7}
.cntImagePaneSubheadBlurb {font-size:1.1em; line-height:1.4em; color:#666666}
.cntImagepaneblurbv2 {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:10px}
.cntImagePaneListHead {font-size:1.2em; color:#f18822}
.cntImagePaneGrouplink {border:dashed 1px #ffc79d; border-left:none; border-right:none; padding:0px 6px; margin:0px 10px}
.cntImagePaneGrouplink2 {font-size:1.1em; border:dashed 1px #999999; border-left:none; border-right:none; margin:6px auto; padding:4px 0px}
.cntImagePanehv2link {border:dashed 1px #ffc79d; border-left:none; border-right:none; border-bottom:none; padding:10px 0px; margin:2px 0px 0px 10px; color:#597eb2 !important; font-family:Tahoma}
.cntNewsbitclear {padding-bottom:1px; clear:left}
.cntNewsbitHead {font-size:1.2em; font-weight:bold; color:#666666; padding-bottom:9px}
.cntNewsbitHead2 {font-size:1.2em; font-weight:bold; color:#666666; padding-top:15px; padding-bottom:3px}
#cntNewsbit1-tab {padding:20px; padding-bottom:0px; font-size:1.1em}
#cntNewsbit1-tab ol, .cntNewsbit1-tab ol li {list-style-type:decimal; color:#0560a6}
#cntNewsbit1-tab ol {margin-left:20px; padding-right:10px}
.cntNewsbitOL1 {font-weight:normal; padding-top:25px; font-size:1.1em}
.cntTabContent {padding:0 20px 0 20px}
.cntTabOl .cntModlist {color:#f18822; font-size:1.3em}
.cntTabOl li {font-size:1.1em; padding-bottom: 2px; margin-left:-18px}
.cntTabOl ol {color: #0560a6;}
.cntNumberbulletedlist {list-style-type: decimal; margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.2em}
.cntOLbulletedlist {margin-left:0px; margin-top:0px; margin-bottom:0px; padding:0px}
.cntNewsbit1Head {font-family:Tahoma; font-size:1.4em; font-weight:bold; color:#666666; margin-top:0px; padding-bottom:8px}
.cntNewsbit1HeadR {font-family:Tahoma; font-size:1.4em; font-weight:bold; color:#666666; margin-top:0px; padding-bottom:8px}
.cntNewsbit1media {padding-bottom:8px; margin-right:6px}
.cntNewsbit1mediar {margin:3px 0px; margin-right:3px; float:left}
.cntNewsbit1mediarR {margin:0px 3px 3px 3px; padding-bottom:0px; float:left}
.cntNewsbit1listR {float:left; margin-left:3px}
.cntNewsbit1Blurb {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:8px}
.cntNewsbitSubhead {font-family:Tahoma; font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:9px}
.cntNewsbit2Head {font-size:1.1em; font-weight:bold; color:#666666; margin-top:-2px; padding-bottom:8px}
.cntNewsbit2media {margin-right:12px; margin-bottom:6px}
.cntNewsbit2mediar {margin-left:12px; margin-bottom:6px}
.cntNewsbit2Subhead {font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:4px}
.cntNewsbit2Blurb {font-size:1.1em; line-height:1.4em; color:#666666; margin:0px; padding:0px; padding-bottom:6px}
.cntNewsbit2lnk {font-size:1.1em; margin:0px; padding-bottom:15px; padding-top:2px}
.cntNewsbit2z100mr {margin:0px 9px 4px 0px; padding:0px; float:left}
.cntPopularzone {margin:0px 50px; padding-bottom:25px}
.cntPopulardividers {width:1px; height:60px; border:solid 1px #e8e8e8; border-top:none; border-bottom:none; border-left:none; margin:0px; padding:0px}
.cntReportPane {padding-bottom:6px}
.cntReportHead {font-family:Tahoma; font-size:1.1em; color:#f18822; font-weight:bold; padding-top:9px; padding-bottom:5px; margin:0px}
.cntReportBlurb {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:3px}
.cntSalePltContent {padding:0px 12px; padding-bottom:0px}
.cntSalesPlateTitle {font-size:2.3em; line-height:1.1em; color:#f18822; margin-top:25px; padding-bottom:8px}
.cntSalesPltBlurb1 {font-size:1.1em; line-height:1.4em; color:#666666}
.cntSalesPltBlurb2 {font-size:1.1em; line-height:1.4em; color:#666666; padding-top:6px; padding-bottom:6px}
.cntSalesPltSubhead {font-size:1.1em; color:#666666; font-weight:bold}
.cntSalesPlate-tab {width:473px}
.cntSalePlticons {text-align:right; border-top:solid 1px #cccccc; padding:10px 0px; margin-top:13px}
.cntSalePlticons a {padding:0px 2px}
.cntSplashzone {padding:0px 0px 0px 2px}
.cntSplashzone .cntBorder1 {border:none 0px #ffffff}
.cntSplashVsp {width:10px}
.cntTagLeader {width:473px; font-size:1.8em; padding:0px; font-family:Arial, Helvetica, Verdana; color:#666666}
.cntTagLeader2 {width:473px; font-size:1.8em; padding:0px; padding-top:0px; font-family:Arial, Helvetica, Verdana; color:#666666}
.cntTitlelistHeadline {font-family:Tahoma; font-size:2.0em; padding-bottom:11px; margin:0px; color:#333333}
.cntTitlelistHeadline2 {font-family:Tahoma; font-size:1.2em; font-weight:bold; margin:0px; padding:0px; padding-bottom:9px; color:#363636}
.cntTitlelistSubhead {font-family:Tahoma; font-size:1.5em; font-weight:bold; padding-bottom:12px; margin:0px; color:#f18822}
.cntTitlelistSubhead2 {font-family:Tahoma; font-size:1.2em; font-weight:bold; padding:0px; padding-bottom:9px; color:#636363}
a:link.cntTitlelistSubhead2 {text-decoration:none}
a:hover.cntTitlelistSubhead2 {text-decoration:underline}
.cntTitlelistoptlink {font-family:Tahoma; font-size:1.2em; font-weight:bold; padding-top:14px}
.cntTitlelistlink {font-size:1.2em}
.cntTitlesplash {padding-top:5px; padding:0px;margin:0px}
#cntFlashTitle {display:none; padding-top:5px; padding:0px;margin:0px}
.cntTitlesplashimg {vertical-align:bottom; margin:0px 6px}
.cntTitlesplashHead {font-family:Arial, Helvetica, sans-serif; font-size:3.0em; color:#333333}
.cntTitlesplashSubhead {font-family:Arial, Helvetica, sans-serif; font-size:2.4em; color:#333333}
.cntTitlesplashSubhead A {color:#333333}
.cntTitlesplashSubhead A:hover {color:#333333}
.cntTitlesplashSubhead A:linked {color:#333333}
.cntTitlesplashSubhead A:visited {color:#333333}
.cntWideDFeat {font-size:1.2em; background-color:#cc6600; font-weight:bold; color:#ffffff; padding:3px 6px 5px 6px; margin:0px}
.cntWideDouble {margin:0px; padding:0px}
.cntWideDFeatBx1 {padding:7px 0px 8px 2px}
.cntWideDFeatBx2 {padding:7px 0px 8px 0px}
.cntWideDmedia {border:solid 1px #999999; margin-right:12px; margin-top:3px}
.cntWideDmediaNoBorder {border:0; margin-right:12px; margin-top:3px}
.cntWideDsubhead {font-size:1.2em; color:#666666; font-weight:bold; padding-top:3px; padding-bottom:4px}
.cntWideDsubhead2 {font-size:1.1em; padding-bottom:6px}
a:link.cntWideDsubhead {font-size:1.2em; color:#666666; font-weight:bold; text-decoration:none}
.cntWideDblurb {font-size:1.1em; line-height:1.4em; color:#666666}
.cntWideFeat {float:left; padding:6px 12px}
.cntWideFeatL {float:right; padding:6px 12px}
#cntWideFeatspr {margin-right:10px}
.cntWideFeatHead {margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; color:#f18822}
.cntWideFeatLink a {margin:0px; padding-top:0px; font-size:1.1em}
.cntWideFeatLink a:link {text-decoration:none}
.cntWideFeatLink a:hover {text-decoration:underline}
.cntTextPane {padding:0px; margin:0px}
.cntTextPaneHead {font-weight:bold; font-size:1.2em; line-height:1.4em; color:#f18822; padding-top:11px}
.cntTextPaneHead a {color:#f18822}
.cntTextPaneHead a:visited {color:#f18822}
.cntTextPaneSubhead {color:#666666; font-weight:bold; padding:10px 0px}
.cntTextPaneBlurb {color:#666666; font-size:1.1em; line-height:1.3em; padding-bottom:11px}

/*-- bulletpanel styles --*/
.cntbulltopc div,.cntbullbotc div {height:1px; line-height:1px; font-size:1px; overflow:hidden}
.cntbulltopl {background-image:url(/_services/ont/images/bull_l_t.gif); font-size:2px; line-height:2px}
.cntbulltopc {border-top:1px solid #d4d4d4; background-color:#f7f7f7}
.cntbulltopc div,.cntchubotc div,.cntribtopc div {height:1px; line-height:1px; font-size:1px; overflow:hidden}
.cntbulltopr {background-image:url(/_services/ont/images/bull_r_t.gif)}
.cntbullmidl {border-right:none; border-left:1px solid #c6c6c6; background-color:#f7f7f7}
.cntbullmidl div,.cntbullmidr div {width:1px; overflow:hidden}
.cntbullmidc {background-image:url(/_services/ont/images/bull_c_c.gif); background-position:top; background-repeat:repeat-x; background-color:#ececec}
.cntbullmidl div,.cntbullmidr div {width:1px; overflow:hidden}
.cntbullmidr {border-left:none; border-right:1px solid #c6c6c6; background-color:#f7f7f7}
.cntbullbotl {background-image:url(/_services/ont/images/bull_l_b.gif); font-size:2px; line-height:2px; background-position:bottom left}
.cntbullbotc {border-bottom:1px solid #c6c6c6; background-color:#f7f7f7}
.cntbullbotr {background-image:url(/_services/ont/images/bull_r_b.gif); background-position:bottom right}
.cntimagmidc {background-image:url(/_services/ont/images/chu_c_c.gif); background-position:top; background-repeat:repeat-x; background-color:#d9e8fc; border-bottom:1px solid #d4d4d4}
.cntimgpmidc {background-color:#cfe2fd}
.cntIconPaneHeading {width:475px; color:#ffffff; font-weight:bold; padding:12px; padding-top:6px; padding-bottom:6px; background-color:#ed9200; margin:0px}
.cntIconPaneSubhead {color:#666666; font-weight:bold; padding:10px 10px 4px}
.cntIconPaneLink {color:#666666; padding:0px 10px}
/* Ribbon */

